<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input inputmode="email" labelPlacement="stacked" placeholder="Enter a username or email address">
        <code slot="label">inputmode="email"</code>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="numeric" labelPlacement="stacked" placeholder="Enter an integer">
        <code slot="label">inputmode="numeric"</code>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="decimal" labelPlacement="stacked" placeholder="Enter a decimal">
        <code slot="label">inputmode="decimal"</code>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input enterkeyhint="search" labelPlacement="stacked" placeholder="Enter search query">
        <code slot="label">enterkeyhint="search"</code>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input enterkeyhint="send" labelPlacement="stacked" placeholder="Type a message">
        <code slot="label">enterkeyhint="send"</code>
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>
